<!-- start page -->
<!-- <div ng-controller = "IndexCtrl" > -->
<div id="page-wrapper">
	<div class="page-header">	
		<h3>Defined Bill Structure</h3>
		<div>
			<span  ng-if="defaultInvoice == null">Not yet added any Bill Struture <a href="" ng-click="defineBill()">Create Bill Template</a></span>
			<table class="table table-border table-stripped table-hover table-condensed" ng-show="defaultInvoice">
				<thead>
					<tr>
						<th>Content</th>
						<th>charges</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'term in defaultInvoice'>
						<td> {{ term.content }} </td>
						<td> {{ term.charge }} </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	</br>
	<h3>Invoices for this Month</h3>
	<div class="table-responsive " >
		<table class="table table-border table-stripped table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<!-- <th>Tax content</th> -->
					<th>Balance</th>
					<th>Total</th>
					<!-- <th>Actions</th> -->
				</tr>
			</thead>
			<tbody ng-if="generatedInvoices.length > 0">
				<tr ng-repeat = 'c in generatedInvoices' id={{$index}} >
					<td> {{ c.first_name }} {{ c.last_name }} </td>
					<td> {{ c.email }} </td>
					<td> {{ c.phone }} </td>
					<!-- <td><span ng-repeat="content in c.invoice">{{ content.content }} : {{ content.charge }}</span></td> -->
					<td> 
						{{ c.balance }} 
					</td>
					<td> 
						{{c.total}}
					</td>
				</tr>
				
			</tbody>
			<tbody ng-if="generatedInvoices.length < 1">
				<tr >
					<td colspan="5">No Invoices available for this month. Please generate.</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<div>
		<button class="btn btn-info btn-xs pull-right" ng-click="createAndSaveInvioces()" ng-disabled="generatedInvoices.length > 0">Generate Bill</button>
		<!-- <a href="#/" class="btn btn-info btn-xs pull-right">Prev</a> -->
	</div>
</div>