<!-- start page -->
<!-- <div ng-controller = "IndexCtrl" > -->
<div id="page-wrapper">
	<div class="page-header">	
		<h3>Defined Bill Structure</h3>
		<div>
			<span  ng-if="defaultInvoice == null">Not yet added any Bill Struture <a href="" ng-click="defineBill()">Create Bill Template</a></span>
			<table class="table table-border table-stripped table-hover table-condensed" ng-show="defaultInvoice">
				<thead>
					<tr>
						<th>Content</th>
						<th>charges</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = 'term in defaultInvoice'>
						<td> {{ term.content }} </td>
						<td> {{ term.charge }} </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	</br>
	<h3>Invoices for this Month</h3>
	<div class="table-responsive " >
		<table class="table table-border table-stripped table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<th>parking</th>
					<th>other</th>
					<th>balance</th>
					<!-- <th>Actions</th> -->
				</tr>
			</thead>
			<tbody ng-if="contacts.length > 0">
				<tr ng-repeat = 'c in contacts' id={{$index}} >
					<td> {{ c.name }} </td>
					<td> {{ c.email }} </td>
					<td> {{ c.phone }} </td>
					<td> 
						<div ng-if ="editable">	
							<div ng-if ="editParameter == '{{$index}}'">	
								<input type = "checkbox" value = "{{ c.parking }}">
							</div>
							<div ng-if ="{{c.parking}}">	
								Yes 
							</div>
							<div ng-if ="!{{c.parking}}">	
								No 
							</div>
						</div>
						<div ng-if = "!editable">
							{{c.parking ? 'Yes' : 'No'}}
						</div>
					</td>
					<td> 
						<div ng-if =" editable ">	
							<input type = "checkbox" value = "{{ c.other }}">							
						</div>
						<div ng-if = "!editable">
							{{ c.other ? 'Yes' : 'No'}} 
						</div>
					</td>
					<td> 
						<div ng-if =" editable ">	
							<input type = "text" value = "{{ c.balance }}" class="form-control">							
						</div>
						<div ng-if = "!editable">
							{{ c.balance }} 
						</div>
					</td>
				</tr>
				
			</tbody>
			<tbody ng-if="contacts.length < 1">
				<tr >
					<td colspan="5">No Invoices available for this month. Please generate.</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<div>
		<button class="btn btn-info btn-xs pull-right" ng-click="createAndSaveInvioces()" ng-disabled="contacts.length > 0">Generate Bill</button>
		<!-- <a href="#/" class="btn btn-info btn-xs pull-right">Prev</a> -->
	</div>
</div>