
<div id="page-wrapper">
		<div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-user fa-fw"></i> Payment
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td><label>Amount : </label></td>
                            <td><input class="form-control" type="text" id="amount"></td>
                        </tr>
                    </table>
                    <br>
                    <button type="submit" ng-click="payVia()" class="btn btn-primary">Submit</button>&nbsp;
                    <button class="btn btn-primary">Cancel</button>
            </div>
            </div>
		</div>
        <!-- /.col-lg-8 -->
    </div>
</div>
