
<div id="page-wrapper">
		<form class="login">
			<p class="title">Log in</p>
			<div id="errorMsg"></div>

			<div class="form-group">
				<input class="form-control" placeholder="User Email" id="username" type="text" autofocus>
			</div>
			<!-- <i class="fa fa-user"></i> -->
			<div class="form-group">
				<input class="form-control" placeholder="Password" id="password" value="" type="password" value="">
			</div>
			<!-- <i class="fa fa-key"></i> -->
			<a href="#">Forgot your password?</a>
			<!-- <a href="" onclick="login(event)"> -->
			<button class="login">
			<!-- <button type="button" onclick="login(event)"> -->
				<i class="spinner"></i>
				<span class="state">Log in</span>
				<!-- <span class="state">Log in</span> -->
			</button>
			<!-- </a> -->
		</form>
</div>
