
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">Registration</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="greenTxt"><h4>{{resTxt}}</h4></div>
    <div class="row" ng-if="!resTxt || resTxt == '' ">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Registration Elements
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" name='userForm'>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Building Name</label>
                                    <select ng-model="newForm.buildingId">
                                      <option value="" selected>--Select Building--</option>
                                      <option ng-repeat="building in buldings" value="{{building._id}}">{{building.name}}</option>
                                    </select></br>
                                    <!-- <input class="form-control" ng-model="newForm.buildname" placeholder="Select Building Name">
 -->
                                    <a href="" ng-click="openAddBuilding()">Add New Building</a>
                                </div>
                                <!-- <div class="form-group">
                                    <label>Building Website</label>
                                    <input class="form-control" ng-model="newForm.website" placeholder="Enter Website">
									<p class="help-block">Example "www.mayuresh_park.com" etc.</p>
                                </div> -->
								<div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" ng-model="newForm.addr" rows="3" placeholder="Enter Address"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>User Type</label>
                                    <select ng-model="newForm.usertype">
                                      <option value="admin">Admin</option>
                                      <option value="user" selected>Normal User</option>
                                    </select>
  
                                </div>
                                <!--<div><hr "width:100%"></div>-->
                                </div>
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input class="form-control" name="uName" ng-model='newForm.username' required placeholder="Enter Name">
                                    <div class="redTxt" ng-messages="userForm.uName.$error">
                                          <div ng-message="required">User Name is required.</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" ng-model='newForm.password' class="form-control" required placeholder="Enter Password" minlength="8" ng-pattern="/^(\w*(\d+[a-zA-Z]|[a-zA-Z]+\d)\w*)+$/">
                                    <div class="redTxt" ng-messages="userForm.password.$error">
                                          <div ng-message="required">Password is required.</div>
                                        <div ng-message="minlength">Password should be min 8 character alphanumeric.</div>
                                         </div>
                                </div>

                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" name="rpassword" ng-model='newForm.repassword' class="form-control" placeholder="Re-Type Password" ng-change="checkPass()" required>
                                    <div class="redTxt" ng-messages="userForm.rpassword.$error">
                                          <div ng-message="required">Confirm password is required.</div>
                                    </div>
                                    <div class="redTxt" ng-if="!passMatch">
                                    Password and Confirm Password does not match.
                                    </div>
                                </div>
                                <div class="form-group">
                                 <label>Security Questions</label>
                                </div>

                                <div class="btn-group">
                                    
                                    <select ng-model="newForm.sQuestion">
                                        <option selected>-- Select Security Question --</option>
                                        <option>What is you'r age?</option>
                                        <option>What is you'r school name?</option>
                                        <option>You'r Gf's cell number?</option>
                                    </select>
                                   <!--  <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">Select Security Question
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu">
                                        <li><a href="#">What is you'r age?</a></li>
                                        <li><a href="#">What is you'r school name?</a></li>
                                        <li><a href="#">You'r Gf's cell number?</a></li>
                                    </ul> -->
                                </div><div>
                                    <input class="form-control" ng-model="newForm.sAnswer" placeholder="Enter Answer">
                                </div>


								<div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="newForm.agree" required>I accept all terms and conditions.
                                        </label>
                                    </div>
								</div>
                                <button type="submit" class="btn btn-default" ng-disabled="!newForm.agree || userForm.$invalid || !passMatch || !newForm.buildingId" ng-click="submitUser(newForm)">Register</button>
                                <button type="reset" class="btn btn-default">Reset</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                       
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
