<link rel="stylesheet" type="text/css" href="./css/dist/invoices.css" />
<script type="text/javascript" src="./lib/jQuery/jquery-1.11.3.min.js"></script>    
<script type="text/javascript" src="./js/data.js"></script>
<script type="text/javascript" src="./js/activity.js"></script>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-table fa-fw"></i> Security</h1>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
